@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");
html {
  font-size: 16px; }

.schedule-meeting {
  font-family: 'Montserrat', sans-serif;
  min-height: 116px;
  width: 100%;
  max-width: 688px;
  border: 1px solid;
  border-color: #E0E7F1;
  border-radius: 0.4rem;
  display: flex; }
  .schedule-meeting:hover {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1); }
  .schedule-meeting.available {
    background-color: #23856D; }
  .schedule-meeting.unavailable {
    background-color: #be0000; }
  .schedule-meeting .card {
    color: #526275;
    background-color: #fff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-left: 4px;
    display: flex;
    align-items: center;
    width: 100%; }
    @media (max-width: 375px) {
      .schedule-meeting .card {
        flex-direction: column; } }
    .schedule-meeting .card__left-avatar {
      margin-left: 20px; }
      @media (max-width: 525px) {
        .schedule-meeting .card__left-avatar {
          margin-left: 15px; } }
      @media (max-width: 400px) {
        .schedule-meeting .card__left-avatar {
          margin-left: 10px; } }
      @media (max-width: 375px) {
        .schedule-meeting .card__left-avatar {
          margin-top: 10px; } }
      .schedule-meeting .card__left-avatar img {
        width: 5rem;
        height: 5rem; }
    .schedule-meeting .card__details {
      width: 50%;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      margin-left: 25px; }
      @media (max-width: 525px) {
        .schedule-meeting .card__details {
          margin-left: 20px; } }
      @media (max-width: 400px) {
        .schedule-meeting .card__details {
          margin-left: 15px; } }
      @media (max-width: 375px) {
        .schedule-meeting .card__details {
          flex-direction: column;
          width: 100%; } }
      .schedule-meeting .card__details .title {
        color: #263240;
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        letter-spacing: 0.3px;
        margin-bottom: 5px; }
      .schedule-meeting .card__details .duration-date-time {
        display: flex;
        color: #526275;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.2px;
        margin-bottom: 5px;
        margin-left: 4px; }
        @media (max-width: 525px) {
          .schedule-meeting .card__details .duration-date-time {
            flex-direction: column; } }
        @media (max-width: 400px) {
          .schedule-meeting .card__details .duration-date-time {
            flex-direction: column;
            font-size: 12px;
            line-height: 20px; } }
        @media (max-width: 375px) {
          .schedule-meeting .card__details .duration-date-time {
            font-size: 14px;
            line-height: 24px; } }
        .schedule-meeting .card__details .duration-date-time .duration {
          display: flex;
          align-items: center;
          margin-right: 20px; }
          @media (max-width: 525px) {
            .schedule-meeting .card__details .duration-date-time .duration {
              margin-right: 0px; } }
          .schedule-meeting .card__details .duration-date-time .duration .clock-icon {
            background: url("./assets/icon-clock.svg") center center;
            background-repeat: no-repeat;
            width: 1rem;
            height: 1rem;
            margin-right: 8px; }
        .schedule-meeting .card__details .duration-date-time .date-time {
          display: flex;
          align-items: center; }
          .schedule-meeting .card__details .duration-date-time .date-time .calendar-icon {
            background: url("./assets/icon-calendar-alt.svg") center center;
            background-repeat: no-repeat;
            width: 1rem;
            height: 1rem;
            margin-right: 8px; }
      .schedule-meeting .card__details .location {
        color: #526275;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.2px;
        display: flex;
        align-items: center;
        margin-left: 4px; }
        @media (max-width: 400px) {
          .schedule-meeting .card__details .location {
            margin-left: 10px; } }
        .schedule-meeting .card__details .location .map-pin-icon {
          background: url("./assets/icon-map-pin.svg") center center;
          background-repeat: no-repeat;
          width: 1rem;
          height: 1rem;
          margin-right: 8px; }
        .schedule-meeting .card__details .location a {
          text-decoration: none;
          color: #526275; }
          .schedule-meeting .card__details .location a:hover {
            text-decoration: underline; }
    .schedule-meeting .card__options {
      height: 32px;
      width: 32px;
      margin-right: 15px;
      background: url("./assets/icon-options.svg") center center no-repeat;
      border-radius: 50%; }
      .schedule-meeting .card__options:hover {
        background-color: rgba(224, 231, 241, 0.4); }
      .schedule-meeting .card__options button {
        border: 0;
        background: none;
        padding: 0;
        margin: 0;
        height: 32px;
        width: 32px; }
        .schedule-meeting .card__options button:hover {
          cursor: pointer; }
      @media (max-width: 400px) {
        .schedule-meeting .card__options {
          margin-right: 8px; } }

/*# sourceMappingURL=styles.css.map */